<h1>Neurofacts, in numbers</h1>
<p>Your all in neuron site</p>

<!-- Uso el atributo router link para linker mi navegador a las rutas creadas -->
<!-- Routerlinkactive es un hover permeanente para cuando seleccionamos el enlace y lo redirigimos a una clase css. -->
<nav>
    <a [routerLink] ="['/home']" [routerLinkActive]="['activado']">Home</a>
    -<a [routerLink]="['/neuronillas']" [routerLinkActive]="['activado']">Neurons</a>
    -<a [routerLink]="['/contact']" [routerLinkActive]="['activado']">Contact</a>
    -<a [routerLink]="['/empleados']" [routerLinkActive]="['activado']">Employees</a>
    -<a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>

</nav>




<!-- <app-neu></app-neu> ------En vez de cargar los componentes directatemnte
    cargo mágimcante el componente router-outlet que me importa las rutas inyectadas en app.module.ts-->
    

<router-outlet></router-outlet> <!--Ahora si aquí dentro van mis compenentes asociados a cada ruta puesta en el navegador-->